<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias facilis autem ex ipsam iusto! Quibusdam ratione ducimus dignissimos perspiciatis debitis? Corporis sapiente eaque ipsum, ad provident quo quaerat dolor dignissimos?</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis officiis itaque at iusto placeat quia, assumenda neque, velit id consequuntur aperiam, numquam dolores libero illum totam cupiditate rem possimus reprehenderit!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi nam suscipit magnam perferendis, hic aliquam reiciendis labore adipisci necessitatibus quis quidem eaque sequi cumque modi velit culpa. Autem, voluptate repellat.</p>
        <%- include('./partials/footer.ejs') %>
    </div>
</body>

</html>